#content_log {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 500px;
  padding-left: 20px;
  display: block;
}

#content_NG
{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 500px;
  padding-left: 20px;
  display: none;
}
