/*deux box log et new game */
body {
  background-color: grey;
}
/* box connection */
#content_log {
  background-image: url("oak.gif");
  background-repeat: no-repeat;
  background-position: right;
  width: 380px;
  height: 200px;
  font-family: helvetica;
  margin-left: 7px;
  float: left;
}
#content_ng {
  display: none;
  font-family: helvetica;
}

a {
  font-size: 0.8em;
  position: fixed;
  margin-top: 65px;
  margin-left: 70px;
}

#content_log p {
  margin: 0px;
  padding: 5px;
}
#content_ng p {
  margin: 0px;
  padding: 5px;
}
/* box principale */
#content_main {
  width: 406px;
  height: 200px;
  padding: 0px;
  margin-top: 100px;
  border-bottom-left-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 2px;
  clear: both;
  background-color: white;
}
/* les deux box DANS la box NG*/
#ng_content_left {
  float: left;
  width: 49%;
  height: 100%;
  margin: 0;
  margin-left: 7px;
}
#ng_content_right {
  float: left;
  width: 49%;
  margin-left: -35px;
  padding-left: 15px;
  margin-top: 28px;
}
input {
  width: 150px;
}
/* text+ bouton dans ng_content_right */
#button_creation {
  float: right;
  margin-top: 28px;
}
#presentation {
  clear: both;
  font-size: 0.8em;
  border: 1px solid black;
  border-radius: 7px 7px 7px 7px;
}
/* MINIATURE POKEMON DE LA LISTE */
#sala {
background-image: url("mini/Salamèche.png");
background-repeat: no-repeat;
background-position: right;
background-size: contain;
}
#cara {
  background-image: url("mini/Carapuce.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
#bulbi {
  background-image: url("mini/Bulbizzare.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
